.algo_flip_card_container {
  width: 100%;
  padding: 60px;
  padding-right: 250px;
  padding-left: 250px;
  height: 100%;
  background: hsl(209, 94%, 12%);
  //   display: flex;
  justify-content: center;
  align-items: center;
}
.services-box {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.service {
  margin: 8px;
}

.flip-box {
  background-color: transparent;
  width: 250px;
  height: 120px;
  //   border: 1px solid #15314b;
  border-radius: 10px;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;

  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flip-box-front {
  background-color: #15314b;
  color: white;
  border-radius: 4px;
}


.flip-box-front img {
  height: 50px;
  width: 50px;
}

.flip-box-back {
  background-color: #15314b;
  color: white;
  transform: rotateY(180deg);
  border-radius: 4px;
  padding: 16px;
}
